body {
  background: url("../images/background2.jpg");
  background-repeat: repeat;
  /* background-size: 400px; */
  font-family: 'Arvo', serif;
  font-size: 18px;
}

.container {
  max-width: 767px;
  border: 10px solid #222222;
  margin: 10px auto;
  background: lemonchiffon;
  /* padding: 5px; */
}

.quizTitle {
  /* border: 1px solid blue; */
  text-align: center;
  font-family: 'Creepster','Joti One', Arial, Helvetica, sans-serif;
  font-size: 52px;
  margin-top: 0px;
  background: tomato; 
  padding: 25px 10px;
}

.buttonBox {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

#startBtn {
  /* border: 1px solid green; */
  font-family: 'Creepster','Joti One', Arial, Helvetica, sans-serif;
  font-size: 28px;
  color: black;
  background:  tomato;
  padding: 15px;
  margin: 40px 0;
}

.timerBox {
  text-align: center;
  margin-right: 35px;
  margin-left: 35px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#timer {
  /* border: 1px solid purple; */
  font-size: 34px;
  font-family: 'Creepster','Joti One', Arial, Helvetica, sans-serif;
  color: tomato; 
  background: black;
  padding: 5px 40px;
}

#quiz {
  /* border: 1px solid blue; */
}

.question { 
  letter-spacing: 1px;
  text-align: center;
  padding: 10px;
}

.buttonBox2 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.resultsBox {
  text-align: center;
  margin: 20px;
  font-size: 22px;
  padding: 40px 0;
}

#correct, #wrong, #blank {
  margin: 10px;
}

#submitBtn {
  font-family: 'Creepster','Joti One', Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: black;
  background:  tomato; 
  padding: 15px;
}

input {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 18px;
}

h3 {
  font-size: 22px;
}

hr {
  color: black;
}

radio {
  background: tomato;
  color: tomato;
}